# Project Group - 10

Members + student number: 

Splinter Groenink:  
Ton van Mameren: 6108466  
Gijs Volkers: 5295920   
Hidde Voogt:  
Justin Wagenaar:

# Research Objective

*Requires data modeling and quantitative research in Transport, Infrastructure & Logistics*

# Contribution Statement

*Be specific. Some of the tasks can be coding (expect everyone to do this), background research, conceptualisation, visualisation, data analysis, data modelling*

**Author 1**:

**Author 2**:

**Author 3**:

# Data Used

# Data Pipeline

In [2]:
from data_rename import make_named_clean_dataset
import pandas as pd

In [4]:
#opening, cleaning and nameing data in dataset using helper function created by us.

file_path = 'oud/84710ENG_TypedDataSet_30092024_142837.csv'

data_raw = pd.read_csv(file_path, delimiter=';', encoding='utf-8')

data = make_named_clean_dataset(data_raw)

data.head()

Named And Cleaned Data After Dropping Missing Values: (38718, 13)

,ID,Trips_Per_Day,Distance_Travelled_PassengerKm_Per_Day,Time_Travelled_Minutes_Per_Day,Trips_Per_Year,Distance_Travelled_PassengerKm_Per_Year,Time_Travelled_Hours_Per_Year,TravelMotives,Population,TravelModes,Margins,RegionCharacteristics,Period
0,0,2.78,36.16,74.60,1015.0,13200.0,453.8,Total,Population 6 years or older,Total,Value,The Netherlands,2018
1,1,2.71,36.00,74.39,989.0,13140.0,452.6,Total,Population 6 years or older,Total,Value,The Netherlands,2019
2,2,2.35,24.88,61.96,861.0,9105.0,378.0,Total,Population 6 years or older,Total,Value,The Netherlands,2020
3,3,2.51,27.24,69.85,915.0,9942.0,424.9,Total,Population 6 years or older,Total,Value,The Netherlands,2021
4,4,2.70,30.21,72.69,984.0,11027.0,442.2,Total,Population 6 years or older,Total,Value,The Netherlands,2022