In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv("values_named_clean_mobility_data.csv")

df.head(3)

,ID,Trips_Per_Day,Distance_Travelled_PassengerKm_Per_Day,Time_Travelled_Minutes_Per_Day,Trips_Per_Year,Distance_Travelled_PassengerKm_Per_Year,Time_Travelled_Hours_Per_Year,TravelMotives,Population,TravelModes,Margins,RegionCharacteristics,Period
0,102,2.70,32.66,77.71,987.0,11922.0,472.7,Total,Population 6 years or older,Total,Value,Extremely urbanised,2018
1,103,2.59,31.41,76.64,947.0,11464.0,466.2,Total,Population 6 years or older,Total,Value,Extremely urbanised,2019
2,104,2.14,20.77,61.54,782.0,7601.0,375.4,Total,Population 6 years or older,Total,Value,Extremely urbanised,2020